@model KGERP.Service.SalesManagementVM
@{
    ViewBag.Title = "Company Wise Sales Achievement List";
}

<h2>Company Wise SalesAchievement List</h2>

<div class="table-responsive col-md-12">
    <table id="KgErpDataTable" class="table table-striped" width="100%">
        <thead class="thead-light">
            <tr>
                <th>Sl</th>
                <th>Sales Title</th>
                <th>Target Amount</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @{int sl = 0;}

            @if (Model.DataList != null && Model.DataList.Any())
            {
                foreach (var item in Model.DataList)
                {
                    <tr>
                        <td>@(++sl)</td>
                        <td>@item.AchievementTitle</td>
                        <td>@item.TargetAmount</td>
                        <td>
                            <a href="@Url.Action("SalesPeronAssignPersnWise", "SalesManagement", new { KGSalesTargeID = item.KGCompanySaleTergetId,CompanyId=Model.CompanyId})">
                                <i class="glyphicon glyphicon-share"></i>
                            </a>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="4">No Data Found</td>
                </tr>
            }
        </tbody>

    </table>
</div>