@model KGERP.Service.HR_Pay_Roll_Service.PRoll_AttendanceLog_Service.PRoll_AttendanceLogViewModel
@{
    ViewBag.Title = "AddNew";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    h3 {
        margin-top: 11px !important;
        margin-bottom: -5px !important;
    }

    input, select, textarea {
        max-width: 100%;
    }

    .ui-front {
        z-index: 2100 !important;
    }

    .ui-datepicker {
        z-index: 2100 !important;
    }

    @@media (min-width: 768px) {
        .modal-content {
            width: 750px;
        }
    }

    .input-group {
        width: 100% !important;
    }

    .content-header {
        position: relative;
        padding: 0px 15px 20px 5px;
        background-color: #4caf5029 !important;
    }

    .list-group-horizontal {
        -ms-flex-direction: !important;
        flex-direction: row !important;
    }
</style>
<section class="content-header" style="margin-bottom:20px">
    <div class="row">
        <div class="col-sm-4">
            <h3>
                Attendance Log
            </h3>
        </div>
    </div>
</section>



@using (Html.BeginForm("AddNew", "PRoll_AttendanceLogs", FormMethod.Post))
{

    <div class="container-fluid" style="margin-top: 20px; border: 1px solid #f0ffff; padding: 28px 18px 21px 18px; background: #fff ">

        <div class="row">

            <div class="col-md-3">
                <div class="form-group">
                    <label> Months </label>
                    @Html.DropDownListFor(model => model.Month, Model.MonthList as SelectList, "==Select Month ==", new { id = "ddlMonth", @class = "form-control ddlReset", style = "width:100%", required = "required" })
                    @Html.ValidationMessageFor(model => model.Month, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="control-label"> Years<b style="color:red"> *</b> </label>
                    @Html.DropDownListFor(model => model.Year, new SelectList(Model.YearsList, "Value", "Text"), "---Select Years---", new { id = "Year", @class = "searchingDropdown  customStyle", @style = "width: 100%;", required = "required" })
                    @Html.ValidationMessageFor(model => model.Year, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-5"></div>
            <div class="col-md-2 " style="margin-top:20px">
                <input type="submit" value="Add New" style="width:100%;height:45px" class="btn btn-primary" />
            </div>
            <div class="col-md-5 "></div>
        </div>
    </div>
}
