@model KGERP.Service.HR_Pay_Roll_Service.PRoll_AttendanceLog_Service.PRoll_AttendanceLogViewModel
@using KGERP.Utility
@{
    ViewBag.Title = "AttendanceList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    h3 {
        margin-top: 11px !important;
        margin-bottom: -5px !important;
    }

    input, select, textarea {
        max-width: 100%;
    }

    .ui-front {
        z-index: 2100 !important;
    }

    .ui-datepicker {
        z-index: 2100 !important;
    }

    @@media (min-width: 768px) {
        .modal-content {
            width: 750px;
        }
    }

    .input-group {
        width: 100% !important;
    }

    .content-header {
        position: relative;
        padding: 0px 15px 20px 5px;
        background-color: #4caf5029 !important;
    }

    .list-group-horizontal {
        -ms-flex-direction: !important;
        flex-direction: row !important;
    }
</style>
<section class="content-header" style="margin-bottom:20px">
    <div class="row">
        <div class="col-sm-4">
            <h3>
                Attendance Log List
            </h3>
        </div>
    </div>
</section>

@*<a href="~/PRoll_AttendanceLogs/AddNew?companyId=@Model.CompanyId" class="btn btn-primary pull-right">Add New</a>*@


<div class="table-responsive col-md-12">
    <table id="KgErpDataTable" style="width:100%; background-color:#ddd;" class="table table-striped">
        <thead>
            <tr>
                <th>SL</th>
                <th>Date</th>
                <th>Created By</th>
                <th>Created Date</th>
                <th>Process</th>
                <th>Action</th>
            </tr>
        </thead>
        @{int sl = 0;
        }
        <tbody>
            @foreach (var item in Model.dataList)
            {
                <tr>
                    <td>@(++sl)</td>
                    <td>
                        @((MonthList)item.Month + ", "+ item.Year)
                    </td>
                    <td> @item.CreatedBy</td>
                    <td> @item.CreatedDate.ToShortDateString()</td>
                    <td>
                        @if (item.IsFinalize == true)
                        {
                            <a  class="btn btn-success btn-xs">
                                Successfully Submitted
                            </a>
                        }
                        else
                        {
                            <a href="/PRoll_AttendanceLogs/AttendanceProcess?id=@item.AttendanceLogId&companyId=@item.CompanyId" target="_blank" class="btn btn-warning btn-xs">
                                Attendance Process
                            </a>
                        }
                    </td>
                    <td class="text-center">

                        <a href="/PRoll_AttendanceLogs/Details?companyId=@item.CompanyId&id=@item.AttendanceLogId" target="_blank" class="btn btn-info btn-xs">
                            <i class="fa fa-eye" style="font-size:15px;" aria-hidden="true"></i>
                        </a>
                        @if (item.IsFinalize == true)
                        {
                            <a title="Delete Employee" disabled class="disabled btn btn-danger btn-xs">
                                <i class="fa fa-trash" style="font-size:15px;" aria-hidden="true"></i>
                            </a>
                        }
                        else
                        {
                            <a href="/PRoll_AttendanceLogs/Delete?id=@item.AttendanceLogId" onclick="return confirm('Are you sure you want to delete?');" title="Delete Employee" class="btn btn-danger btn-xs">
                                <i class="fa fa-trash" style="font-size:15px;" aria-hidden="true"></i>
                            </a>
                        }


                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

