
@section Styles{
    <style type="text/css">
    </style>

}

<div class="container" id="partialNotificationDiv" style="margin-top:0px !important; display:none">
    <div class="row">
        <div class="col-md-4">
        </div>
        @if (TempData["success"] != null)
        {
            <div class="col-md-4 alert-p">
                <div class="alert alert-primary alert-dismissible" role="alert" style="background-color:springgreen;">
                    <span id="alertMsg"> @TempData["success"] </span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        }
        @if (TempData["error"] != null)
        {
            <div class="col-md-4 alert-d">
                <div class="alert alert-d alert-primary alert-dismissible" role="alert" style="background-color:red;">
                    <span id="alertMsg"> @TempData["error"] </span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        }

        <div class="col-md-4">
         
        </div>
    </div>
</div>

<script type="text/javascript">
    $(() => {
        var popup = document.getElementById('partialNotificationDiv');
        var content = document.getElementById('alertMsg');
        if (content.innerHTML.trim() !== '') {
            popup.style.display = 'block';

            // Set a timeout to close the popup after 5 seconds (5000 milliseconds)
            setTimeout(function () {
                popup.style.display = 'none';
            }, 4000);
        }

    })
</script>