@model KGERP.Service.HR_Pay_Roll_Service.ParollServices.PRoll_AdvanceTypeVm
@{
    ViewBag.Title = "AdvancetypeList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="content-header" style="margin-bottom:20px">
    <div class="row">
        <div class="col-sm-4">
            <h3> Advancetype List</h3>
        </div>
    </div>

    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i>Dashboard</a></li>
        <li class="active">
            <a class="btn btn-info" href="~/Payroll/Create?companyId=@Model.CompanyId">
                <i class="fa fa-user "></i>Add Payroll
            </a>
        </li>
    </ol>
</section>

<div class="table-responsive col-md-12">
    <table id="KgErpDataTable" style="width:100%; background-color:#ddd;" class="table table-striped">
        <thead>
            <tr>
                <th>SL</th>
                <th>Name</th>
                <th>Created By</th>
                <th>Action</th>
            </tr>
        </thead>
        @{int sl = 0;}
        <tbody>
            @foreach (var item in Model.DataList)
            {
                <tr>
                    <td>@(++sl)</td>
                    <td> @item.AdvanceName</td>               
                    <td> @item.CreatedBy</td>
                    <td>
                        <a class="btn btn-warning btn-xs" href="~/Payroll/Create?CompanyId=@item.CompanyId&AdvanceTypeId=@item.AdvanceTypeId">
                            <i class="fa fa-edit"></i> 
                        </a>

                        <a class="btn btn-danger btn-xs" href="~/Payroll/Delete?CompanyId=@item.CompanyId&AdvanceTypeId=@item.AdvanceTypeId" onclick="return confirm('Are you sure you want to delete?');">
                            <i class="fa fa-trash"></i>
                        </a>


                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>
