@{
    ViewBag.Title = "Access Denied";
    Layout = null;
   // Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .text-danger {
        color: #a94442;
    }
    .btn-info:hover, .btn-info:active, .btn-info.hover {
        background-color: #00acd6;
    }

    .btn-info:hover {
        color: #fff;
        background-color: #31b0d5;
        border-color: #269abc;
    }

    .btn-info:hover, .btn-info:active, .btn-info.hover {
        background-color: #00acd6;
    }

    .btn-info {
        background-color: #00c0ef;
        border-color: #00acd6;
    }

    .btn-lg, .btn-group-lg > .btn {
        padding: 10px 16px;
        font-size: 18px;
        line-height: 1.3333333;
        border-radius: 6px;
    }

    .btn-info {
        color: #fff;
        background-color: #5bc0de;
        border-color: #46b8da;
    }

    .btn-info {
        background-color: #00c0ef;
        border-color: #00acd6;
    }
    .text-center{
        text-align:center;
        margin-top:100px;
    }
</style>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div class="text-center">
        <h1 class="text-danger text-center"> Access Denied</h1>
        <h3> <button class="btn-info btn-lg" onclick="history.back()">Go Back</button> </h3>
    </div>
</body>
</html>
